<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="title">
                <h1>About Us</h1>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="article social">
                        <h3>Darren Lionardo</h3>
                        <p class="text-muted">00000044057</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid" width="300" height="300" src="http://localhost:4200/assets/images/Darren.jpg">
                    </div>
                    <div class="social">
                        <a href="https://www.instagram.com/darrenlionardo/"><i class="fab fa-instagram" style="margin-right: 2%; left: 2%;"></i></a>
                        <a href="https://api.whatsapp.com/send/?phone=628567777681&text&app_absent=0"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="article social">
                        <h3>Felix Ferdianto</h3>
                        <p class="text-muted">00000045398</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid" width="300" height="300" src="http://localhost:4200/assets/images/felix.jpg">
                    </div>
                    <div class="social">
                        <a href="https://www.instagram.com/felixferdianto83/"><i class="fab fa-instagram" style="margin-right: 2%; left: 2%;"></i></a>
                        <a href="https://api.whatsapp.com/send/?phone=6287883048793&text&app_absent=0"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="article social">
                        <h3>Steven Geraldi</h3>
                        <p class="text-muted">00000043822</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid" width="300" height="300" src="http://localhost:4200/assets/images/Geraldi.jpg">
                    </div>
                    <div class="social">
                        <a href="https://www.instagram.com/stevengeraldii/"><i class="fab fa-instagram" style="margin-right: 2%; left: 2%;"></i></a>
                        <a href="https://api.whatsapp.com/send/?phone=6285697555396&text&app_absent=0"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="article social">
                        <h3>Tesalonika Abigail</h3>
                        <p class="text-muted">00000044503</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid" width="300" height="300" src="http://localhost:4200/assets/images/Tesa.jpg">
                    </div>
                    <div class="social">
                        <a href="https://www.instagram.com/tesalonikabigail/"><i class="fab fa-instagram" style="margin-right: 2%; left: 2%;"></i></a>
                        <a href="https://api.whatsapp.com/send/?phone=62895322518514&text&app_absent=0"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>